/* Tables */
table {
 margin-top: 12px;
 border-collapse: collapse;
 margin-left:0em;
 margin-right:0em;
  /* border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D7D7D7; 
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D7D7D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D7D7D7; */
}

td, th {
 font-size: 0.85em;
 margin-top: 0.5em;
 margin-bottom: 0.5em;
 vertical-align: top;
 padding-top: 0.7em;
 padding-bottom: 0.7em;
 padding-left: 0.5em;
 padding-right: 0.5em;
}

th {
font-weight: bold;
 padding-top: 0.5em;
 padding-bottom: 0.6em;
 padding-bottom: 0.4em;
}



thead, tbody {
 border: 0px;
}

thead th {
text-align: left !important;
padding-right: 0.3em !important;
border-bottom-width: 0px;
border-bottom-style: solid !important;

}

table.l1,td.l1,th.l1 {
  border-left-width: 1px;
  border-left-style: solid;

}

table.r1,td.r1,th.r1 {
  border-right-width: 1px;
  border-right-style: solid;

}

table.t1,td.t1,th.t1 {
  border-top-width: 1px;
  border-top-style: solid;

}

table.b1,td.b1,th.b1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

table.l0,td.l0,th.l0 {
border-left:none;
}

table.r0,td.r0,th.r0 {
border-right:none;
}

table.t0,td.t0,th.t0 {
border-top:none;
}

table.b0,td.b0,th.b0 {
border-bottom:none;
}

.condition td {
padding: 2em;
padding-top: 1em;
}

table.condition {
 margin-left:0em;
 margin-right:0em;
 width:100%
}

.view-content table {
 margin-top: 12px;
 border-collapse: collapse;
 width: 100%;
 margin-left:0em;
 margin-right:0em;
}

.view-content p, .view-content th, .view-content td {
 font-family: Calibri,Arial,sans-serif;
 font-size: 9pt !important;
}

.view-content table th {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 0.3em;
  margin-bottom: 0.3em;
}



.t13ReportRegion ul {
  font-size: 1.2em !important;
  line-height: normal;
  list-style-type: none;
  padding:0;
  margin:0;
}

.t13ReportRegion th {
  font-size: 1.2em !important;
  font-weight: bold;
  line-height: normal;
  padding:0;
  margin:0;
  background-color: white !important;
}

.t13ReportRegion li {
  margin-top:0.4em;
}
