
/************************************************
*  CIT Colours                                    *
************************************************/


/* 
blue #556292
cyan #00AEC5
orange #F68428
brown #3F3E29
marta's blue #006688
*/


/************************************************
*  Header                                        *
************************************************/

/* Header background color */
/* Note: the top pixel of nav.gif should also be set to this color */
/* Note: the main part of the header background is the logo.png graphic */

#header,
.headerright
{
/*  background-color: #EFEFDE; */
}

/************************************************
*  Sidebars (Common)                            * 
************************************************/

/* Sidebar topic heading backgrounds */
#l_sidebar h2
{
  background: #FFFFFF url(images/headline_left.gif);
}

#r_sidebar h2
{
  background: #FFFFFF url(images/headline_right.gif);
}

/* Sidebar topic headings text */
#l_sidebar h2,
#r_sidebar h2
{
  color: #000000;  
}

/************************************************
Footer
************************************************/

/* Footer background color */
#footerbg
{
  background-color: #FFFFFF;
}

/* Footer text */
#footer
{
  color: #C0C0C0;
}

#footer p
{
  color: #808080;
}

/************************************************
Content
************************************************/

/************************************************
Headings
************************************************/

#contentleft h1 {
  color: #F78429;
  border-top-color:#848484;
}

#contentleft h2 {
  border-top-color:#848484;
}


#contentleft h3 {
  color: #F78429;
}

#contentleft h4 {
  color: #F78429;
}

#contentleft h6 {
  color: #F78429;
}

strong {
  color: #556292;
}

pre strong {
  color: #F68428;
}

span#header {
  background-color: white;
}

/************************************************
List numbers and bullets
************************************************/

.o1, .o2, .step {
  color: #556292;
  color: #00AEC5;
  color: #F68428;
}

.step a, .step a:visited, .step a:hover
{
  color: #F68428;
  text-decoration: none !important;
}

.google_header, .google_footer {
  color: #c0c0c0;
}

/************************************************
Tables
************************************************/

thead th, th, td
{
    border-color: #D7D7D7;
}

th, td.thead, thead td {
 background:#F0F1F1;
}


table.l1,td.l1,th.l1 {
  border-left-color: #D7D7D7;
}

table.r1,td.r1,th.r1 {
  border-right-color: #D7D7D7;

}

table.t1,td.t1,th.t1 {
  border-top-color: #D7D7D7;
}

table.b1,td.b1,th.b1 {
  border-bottom-color: #D7D7D7;
}

/* Topic divider lines */
#contentleft .node .title {
  border-color: #848484;
}

/* LINK COLOR */
/* Text links */  
a,
a:visited
{
  color: #556292;
}

a:hover
{
  color: #F68428;
}

/************************************************
Decorative effects
************************************************/

.color01 {
  background-color: #c9c8b4;
}
.color02 {
  background-color: #e4b7b3;
}
.color03 {
  background-color: #cb7b7e;
}
.color04 {
  background-color: #b44855;
}
.color05 {
  background-color: #a10036;
}

/************************************************
Condition warning panel
************************************************/

.condition td {
  background-color: #EFEFDE;
}

/************************************************
Document titles
************************************************/

.document-title {
  color: #F78429;
  background: red;
}
.document-subtitle {
  color: #F78429;
  background: red;
}



.book-navigation .page-links {
	background-color: #EFEFDE;
	border-color: #848484;
	border-top-color: #848484 !important;
		
}

.view-content table, .view-content table th, .view-content table td {
  background-color: white;
}


.view-content table th {
  border-top-color: #F78429;
  border-bottom-color: #F78429;
}


/************************************************
*	Navbar  									*
************************************************/

/* Navbar Gray CLASH -- image background or gray?*/
#navbar {
	background-color: #F78429;
}

#navbar a {
	color: #FFFFFF;
	}

#navbar a:hover {
	background: #CCCCCC;
	color: #FFFFFF;
	}

#navbar li li a, #navbar li li a:link, #navbar li li a:active, #navbar li li a:visited {
	background: #F78429;
	color: #FFF;
	border-top-color: #C0C0C0;
	}

#navbar li li a:hover {
	background: #C0C0C0;
	color: #FFFFFF;
	}

p.letter {
  color: #00AEC5;
}

p.example {
  color: #F68428;
}
 
h6 {
  color: #F68428;
}

.procedure-sub {
  color: #F68428;
  font-style: italic;
}

h1,h2,h3,h4,h5

{
  color: #3E3E29;
}
p.header, .view-content h3

{
color: #F68428;
}

.view-id-home .view-content h3 {
color: #3E3E29;
}

.handwriting-table {
 color: #556292;
 color: #0000ff;
}


span.why, span.attention {
 color:#556292;
}

#main {
  background-color: #F0F1F1; /* light-blue */
}

#page-wrapper {
background-color: #CCA9DD; /* violet */
border-top: 8px solid #F68428;

}

pre.code, pre.Preformatted_20_Text, .pre-1-x, .pre-2-x, .pre-3-x, pre.menu, pre.menu-title, pre.menu-optional, pre.menu-disabled, pre.menu-optional-disabled {
}

pre {
background-color: #E6E6E6; /* gray */
}

pre.menu-optional, pre.menu-optional-disabled {
background-color: #EEEEDF; /* brown */
}

pre.menu-title {
color: #A41030; /* red */
}

pre.menu-disabled, pre.menu-optional-disabled {
color: #999999; /* dark-gray */
}

.pdf {
color: #8C0000;
}

.pdf a,
.pdf a:visited
{
}

.pdf a:hover
{
}
