@import url(positioning.css);
@import url(tables.css);
@import url(colors.css);
body {
 padding: 1em;
 padding-left: 4em;
 max-width: 48em;
 font-family: Calibri,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
 font-family: Calibri,Arial,sans-serif;
 line-height: 1.5em;
 margin-top: 1em;
 margin-bottom: 0em;
}
p, li {
 font-family: Arial,sans-serif;
 font-size: 10pt;
 line-height: 1.5em;
 margin-top: 0.5em;
 margin-bottom: 0em;
}
ul li {
 list-style: square outside;
}
h1 {
 font-size: 20pt;
 font-weight: normal;
 page-break-before: always;
 border-top: 0.5pt solid #848484;
}
h2 {
 font-size: 13pt;
 font-weight: normal;
}
h3 {
 font-size: 11pt;
 font-weight: normal;
}
h4 {
 font-size: 10pt;
 font-weight: normal;
 font-style: italic;
}

h6 {
 font-size: 12pt;
 font-weight: bold;
 font-style: normal;
}

.o1 {
 font-weight: bold;
 font-style: normal;
}

img {
border-style: none;
}

.titlepage, .titlepage tr, .titlepage td {
 border: none;
 border-collapse: collapse;
 font-size: 6pt;
 line-height: 6pt;
}
.document-title {
 margin-top: 6em;
 font-size: 20pt;
 font-weight: normal;
}
.document-subtitle {
 margin-top: 0em;
 font-size: 16pt;
 font-weight: normal;
}
#WritelyTableOfContents li {
 list-style: none;
}
.logo {
 margin-top: 30em;
}
.link, .link a
{ margin-right: 0em;
  border: 0em;
padding-right: 0em;
background:red;
}
.book-heading, .print-title, .print-submitted, .print-created, .print-hr {
 display:none;
 visibility:hidden;
}





