	
h1, h2, h3, p, ol, ul {
}

.field-name-body, #content .section .view-user-guides {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-color: orange; */
}

#page-title  {
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: yellow; */
}

.page-views #page-title  {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background: #F0F1F1;
}
