/************************************************
Site-specific typography
************************************************/

div.links {
  margin-top: 0.5em !important;
}

/************************************************
/*        images (general)
************************************************/

img.display {
  border: 3px;
   vertical-align: top;   
   margin-bottom: 12px;  
}

p.display {
  margin-bottom: 12px;
  border: 3px;
  vertical-align: top;
}

/************************************************
Headings
************************************************/

/* The h1 title in the content is hidden as it duplicate the node title */
/* 0014 */
#contentleft h1, #contentleft h2, #contentleft h3, #contentleft h4, #contentleft h5, #contentleft h6 {
 font-family: Calibri,Arial,sans-serif;
 line-height: 1.5em;
 margin-top: 1em;
 margin-bottom: 0em;
}
/* 0014 */
#contentleft h1 {
 font-size: 20pt;
 font-weight: normal;
 page-break-before: always;
 border-top: 0.5pt solid;
 display:none;
 visibility:hidden
}
/* 0014 */
#contentleft h1.title {
 display: block;
 visibility: visible;
 border-top:none;
 padding-top: 0em;
 margin-top: 2px;	
 font-size: 2em !important;	
}
/* 0014 */
#contentleft h2 {
 border-top:dashed 1px;
 font-size: 13pt;
 font-weight: normal;
}
/* 0014 */
#contentleft .splash-graphic h2.title {
 display:none !important;
 visibility:hidden  !important;
}
/* 0014 */
#contentleft h3 {
 font-size: 11pt;
 font-weight: normal;
}
/* 0014 */
#contentleft h4 {
 font-size: 11pt;
 font-weight: normal;
 font-style: italic;
}
/* 0014 */
#contentleft h6 {
 font-size: 12pt;
 font-weight: bold;
 font-style: normal;
}
/************************************************
Paras and lists
************************************************/
/* main content */
/* 0014 */
#contentleft p, #contentleft li {
 font-family: Arial,sans-serif;
 font-size: 10pt;
 line-height: 1.5em;
 margin-top: 0.5em;
 margin-bottom: 0em;
}
/* 0014 */
#contentleft ul li {
 list-style: square outside;
}
/* 0014 */
.o1, .o2, .step {
 font-weight: bold;
 font-style: normal;
}
/* 0014 */
#contentleft img {
border-style: none;
}

/* sidebars */
/* 0017 and 0018 */
#l_sidebar p, #r_sidebar p {
 padding: 0px 0px 0px 0px;
 margin: 0px;
 line-height: 20px;
}

/************************************************
      Nodes (e.g. in a views list)
************************************************/

/* 0013 */	
#content {
	font-size: 1em;
}
/* 0014 */	
#contentleft .node .title {
	border-top:dashed 1px;
	padding-top: 0.5em;

}
/* 0014 */	
#contentleft .node {
	margin-bottom: 3em;
}

/************************************************
      Links etc
************************************************/
#contentleft .links ul.inline {
  display: inline;
  margin: 0em;
}

#contentleft .links ul {
  border:none;
}

/************************************************
/*  See also content and comment links (below)
************************************************/

/************************************************
/*                 footer 
************************************************/
/* 0021 */	
#footer p {
 font-size: 10px;
 font-weight: normal;
 text-transform: uppercase;
 margin: 0px;	
 padding: 0px;
}

/* 0021 */
#footer a {
 text-decoration: none;
}

/* 0021 */
#footer a img {
 border: none;
 margin: 0px;
 padding: 0px;
}

/* 0021 */
#footer a:hover {
 text-decoration: underline;
}

/************************************************
    Content and comment links
************************************************/

#contentleft .links {
  border-style: dashed;
  border-width: 1px;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 0em;
  margin-top: 0em;
}

/************************************************
    Comment etc links at foot of node
************************************************/

#comments .content {
  padding: 0em !important;
  margin: 0em !important;
}


.comment {
  padding: 0em !important;
  padding: 1em;
}

#comments {
  border-top-style: dashed;
  border-top-width: 1px;
  padding: 0em 1em 2em 1em;
  margin-top:2em;
  margin-bottom:0em;
  margin-left:0em;
  margin-right:0em;
}

#comments h2 {
  border-top:none !important;
  padding:0px !important;
  margin-top:0.5em !important;
}
  
#comments h3 {
  padding:0px !important;
  margin-top:0px !important;
}

#comments h2.title {
}

#comments h3.title {
  border-top-style: dashed;
  border-top-width: 1px;
  padding-top: 0.5em;
  margin-top: 0.5em !important;
}

#comments h3 a:hover {
  text-decoration: none;
  cursor:default;
  margin-top:0em !important;
}

#comments .links {
  border:none;
  padding: 0em 0em 0em 0em;
  margin-top: 0em;
}

#comments .links ul {
  display: inline;
  margin: 0em;
}

#comments .links ul.links li {
  display: inline;
  list-style-type: none;
}

#comments {
  padding-left: 1em;
  font-family: Calibri,Arial,sans-serif;
  border-style: dashed;
  border-width: 1px;
}

#comments .comment div.links {
  padding: 0em !important;
  margin: 0em !important;
}

#comments .comment div.links ul.links {
  padding: 0em !important;
  margin: 0em !important;
}

#comments .comment .links ul.links li {
  padding: 0em !important;
  margin: 0em !important;
}

#comments .submitted {
  font-size: 1em !important;  
}

#comments .content p, #comments .content li {
  padding: 0em !important;
  margin: 0em !important;
}

#comments .content ul {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  margin: 0em !important;
}

/************************************************
/*        misc transformation artefacts 
************************************************/

/* Hide these as they don't work online */
.narrative-notes {
 display:none;
 visibility:hidden;
}

/* Hide these as they don't work online */
.inline-image {
}

.titlepage, .titlepage tr, .titlepage td {
 border: none;
 border-collapse: collapse;
 font-size: 6pt;
 line-height: 6pt;
}
.document-title {
 margin-top: 6em;
 font-size: 20pt;
 font-weight: normal;
}
.document-subtitle {
 margin-top: 0em;
 font-size: 16pt;
 font-weight: normal;
}
#WritelyTableOfContents li {
 list-style: none;
}
#contentleft .logo {
 margin-top: 30em;
}

table
{
table-layout:fixed !important;
}

