/**
 * @file
 * Form Styling
 */


.form-item /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1.5em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 1px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0; /* Drupal core uses "0.4em 0" */
}

/************************************************
*  CIT Colours                                    *
************************************************/


/* 
blue #556292
cyan #00AEC5
orange #F68428
brown #3F3E29
*/

#search-block-form .form-submit /* The submit button */ {
   text-decoration:none;
   border:1px solid  #cacaca;
   padding:0;
   margin-left: 10px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 3px;
   text-align:center;
   background:#3F3E29;
   color: #fff !important;
   font-weight: bold;
   font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#search-block-form .form-submit:hover {
   background:#F68428;
   border:1px solid #fff;
   color:#fff !important;
}

#search-block-form .form-text {
   text-decoration:none;
   border:1px solid  #cacaca;
   padding:0;
   margin-left: 10px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 3px;
   text-align:left;
   background:#F0F1F1;
   color: #3F3E29;
   font-weight: bold;
   font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/*
 * Search (search-block-form.tpl.php)
 */
#block-search-form /* Wrapper for the search form */ {
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-reset.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}
