/**
 * @file
 * HTML Element Styling
 *
 * Ok, I admit it. I fooled you. This isn't a "reset" stylesheet. Instead this
 * is the place where you should set (not reset) the default styling for all
 * HTML elements.
 *
 * @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 * @see http://snook.ca/archives/html_and_css/no_css_reset/
 */


/*
 * Fonts
 *
 * Our font size and line height declarations are based on the following
 * articles:
 * - http://www.alistapart.com/articles/howtosizetextincss
 * - http://24ways.org/2006/compose-to-a-vertical-rhythm
 *
 * All modern browsers use a 16px default font size. Specifying the font-size
 * and line-height in ems (relative to the 16px default font) allows the user
 * to resize the font in the browser and produces the most consistent results
 * across different browsers.
 */
body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#skip-to-nav,
#page {
  /*
   * To use a 12px font size on the page, delete the 14px declarations.
   * to use a 14px font size on the page, delete the 12px declarations.
   */

  /* Use a 12px base font size with a 18px line height */
 /* font-size: 0.75em; *//* 16px x .75 = 12px */
 /* line-height: 1.3em; *//* 12px x 1.5 = 18px */

  /* Use a 14px base font size with a 21px line height */
  font-size: 0.9em; /* 16px x .875 = 14px */
  line-height: 1.3em; /* 14px x 1.5 = 21px */
}

/*
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;

@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}

 */

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * and Nimbus Sans fonts are commonly available on Linux systems where the MS
   * fonts are less common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif, serif or
   * monospace) hints at what type of font to use if the web browser doesn't
   * find any of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

/*
 * Block-level elements
 *
 * To achieve a pleasant vertical rhythm, we use the 1.5em line height of our
 * base font as the top and bottom margins for our block level elements and make
 * the line heights of any larger fonts be a multiple of 1.5 ems. For more
 * information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
 */
p, blockquote, pre,
ul, ol, dl,
hr, table, fieldset {
  margin-top: 1.5em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
}

/* Headings */
h1, #block-block-1 h2, #block-block-2 h2, #block-block-3 h2, #block-block-4 h2, #block-block-5 h2, #block-block-6 h2 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-top: 0em !important;
  margin-bottom: 0px;
  /* 0.75em is equivalent to 1.5em in the page's base font. font. Remember, a
     margin specified in ems is relative to the element's font-size, not to the
     pages' base font size. So, for example, if we want a 1.5em margin (relative
     to the base font), we have to divide that length by the element's
     font-size:  1.5em / 2em = 0.5em  */
}

h2 {
  font-size: 1.3em;
  margin-top: 1.2em !important;
  border-top: 1px solid #C0C0C0;
  padding-top: 0.8em;
  margin-bottom: 0px;/* Equivalent to 1.5em in the page's base font: 1.5 / 1.5 = 1em */
}

#block-block-1 h2, #block-block-2 h2, #block-block-3 h2, #block-block-4 h2, #block-block-5 h2, #block-block-6 h2 {
  border-top: 0px !important;
} 


.region-sidebar-first .section h2, .region-sidebar-second .section h2 {
  margin-top: 0em !important;
  border-top: 0px;
  padding-top: 0.8em;
}

h3 {
  font-size: 1.2em;
  margin-top: 1.2em !important;
  margin-bottom: 0px;/* Equivalent to 1.5em in the page's base font: 1.5 / 1.3 = 1.154 */
}

h4,
h5
{
  font-size: 1.1em;
  margin-top: 1.1em !important;
  margin-bottom: 0px; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.1 = 1.364 */
}

h6 {
  font-size: 1em;
  margin-top: 1em !important;
  margin-bottom: 0px; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.1 = 1.364 */
}

/* Other block-level elements */
p {

}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
}

pre {
  font-size: 0.9em; /* Monospace fonts can be hard to read */
  margin: 0;
  padding: 0;
  background-color: #F0F1F1;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

hr {
  height: 1px;
  border: 1px solid #666;
}

address {
}

/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
ul,
ol {
  margin-left: 0; /* LTR */
  padding-left: 2em; /* LTR */
}

.item-list ul /* Drupal overrides */ {
  margin: 1.5em 0;
  padding: 0 0 0 2em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf /* Drupal override */ {
  margin: 0;
  padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dl {
}

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em; /* LTR */
  padding: 0;
}

/*
 * Tables
 *
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
table {
  border-collapse: collapse;
  /* width: 100%; */ /* Prevent cramped-looking tables */
}

th {
  text-align: left; /* LTR */
  padding: 0;
  border-bottom: none;
}

tbody {
  border-top: none;
}

thead {
}

tfoot {
}

caption {
}

colgroup {
}

col {
}

tr {
}

td {
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  padding: 0.5em;
}

legend {
}

label {
}

input {
}

select {
}

optgroup {
}

option {
}

textarea {
}

button {
}

/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link {
}

a:visited {
}

a:hover,
a:focus {
}

a:active {
}

/*
 * Other inline elements
 */
img {
  border: 0;
  /* vertical-align: bottom; */ /* Suppress the space beneath the baseline */
}

abbr, /* Abbreviations */
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

q {
}

cite {
}

strong, b {
}

em, i {
}

code,
kbd,
samp,
tt,
var /* Code, keyboard input, sample output, teletype, variable */ {
}

del {
}

ins {
}

big {
}

small {
}

sub {
}

sup {
}

/* CIT custom */

h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif;
}


