/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-promoted /* A node that has been promoted to the front page */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page /* Page content node */ {
}

.node-article /* Article content node */ {
}

h2.node-title /* Node title */ {
}

.node .user-picture /* The picture of the node author */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

/* Hide the duplicate CCK blocks (This is a temporary fix until the next version of CCK Blocks is available) See http://drupal.org/node/833730 Cck block display settings override basic node settings.*/

/* .node .field {
  display: none;
  visibility: hidden;
}

.node .field-name-body {
  display: block;
  visibility: visible;
} */

.node .field-name-field-mini-toc, .node .field-name-field-header, 
.node .field-name-field-index-entries, .node .field-name-field-prev-next, .node .field-name-field-publication, .node .comment-add 
{
  display: none;
  visibility: hidden;
}

.group-left .field-name-field-publication,
.group-middle .field-name-field-publication,
.group-right .field-name-field-publication
{
  display:block !important;
  visibility: visible !important;

}

/* override the default settings in /sites/all/modules/ds/layouts/ds_4col/ */
.group-left {
  width: 100%;
  float: none;
  margin-top: 0.8em !important;
  margin-bottom: 0.1em !important;
  border-top: 1px dashed #C0C0C0;
  padding-top: 0.2em !important;
  font-size: 8pt !important;
  font-weight: bold;
  color: gray;
}

.group-middle {
  font-size: 1em !important;
  margin-bottom: 0.2em !important;
  font-weight: bold;
  width: 100%;
  float: none;


}

.group-right {
  width: 100%;
  float: none;
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.group-right * {
  font-size: 8pt !important;
  line-height: 10pt !important;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif !important;
  font-weight: normal !important;
  border: none !important;
  padding: 0em !important;
  margin: 0em !important;

  background-color: #FFF !important;
  color: gray;
}

.group-right img {
  display: none;
  visibility: hidden;
}





