/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
background-image:url('../images/bodyBg-x.gif') center top no-repeat;

background: url(../images/faux-columns.png) repeat-y 50% 0;
/* background-color: #F4FCFC;*/
color:#4D4D4D;
}

#page-wrapper {
}

#page {
/* background-color: #EBE7DE; *//* light-brown */
}

#header {
/* background-color: #FFB4BF; *//* red */
}

#header .section {
  /* background-color: #F7DFDB; *//* orangey-brown */
  padding: 15px;
  padding-top: 15px;
  background-color: #FFFFFF;
}

#main-wrapper {
/* background-color: #F4EEB1; *//* yellow */
}

#main {
/* background-color: #A3E7D6; *//* green */
}

.region-footer {
  background: #303435 url(../images/menu-background.png) top left repeat-x; /* brown */ 
  padding: 4px;
  padding-left: 20px

}
