/* Previous and Next */

#prevNextContainer{
   margin-top: 4px;
   padding:0;
   font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif;
   font-size:12px;
   height:20px;
   /* background-color: green; */
}

#prevNextContainer ul, #prevNextContainer li {
   padding:0em;
   margin:0em;
}

#prevNextContainer #prev {
   float:left;
   list-style-type:none;
}
#prevNextContainer #next {
   float:left;
   list-style-type:none;
}

#prev a, #prev a:visited, #next a, #next a:visited {
   text-decoration:none;
   border:1px solid #cacaca;
   padding:0;
   margin-left: 10px;
   width:60px;
   display:block;
   text-align:center;
   background:#F4FBFC;
   color:#3E3E29 !important;
}

#prev a:hover, #next a:hover {
   background:#FFCA9F;
   border:1px solid #aaaaaa;
   color:black !important;
}


