/************************************************
Site-specific typography
************************************************/

.o1, .o2, .step {
 font-weight: bold;
 font-style: normal;
 font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.handwriting-table {
 font-family: Lucida Handwriting, Comic Sans, Comic Sans MS, cursive;
 margin-top: 0em;
 font-size: 1em;
}

p.letter {
 font-family: "Courier New", "DejaVu Sans Mono", monospace;
 margin-top: 0 !important;
 margin-bottom: 0 !important;
 padding: 0 !important;
 font-size: 1em;
 line-height: 1em;
 margin-left: 2em;
 margin-right: 2em;
}

p.code, p.Preformatted_20_Text, .pre-1-x, .pre-2-x, .pre-3-x, .menu, .menu-title, .menu-optional, .menu-disabled, .menu-optional-disabled {
 font-family: "Courier New", "DejaVu Sans Mono", monospace;
 margin-top: 0 !important;
 margin-bottom: 0 !important;
 padding: 0 !important;
 font-size: 1em;
 line-height: 1em;
 margin-left: 2em;
 margin-right: 2em;
}

.pre-1-x {
 margin-left: 4em;
 margin-right: 4em;
}

.pre-2-x {
 margin-left: 6em;
 margin-right: 6em;
}

.pre-3-x {
 margin-left: 8em;
 margin-right: 8em;
}


p.example {
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0 !important;
  font-style: italic;
}

p.data-storage, p.lookup-reference {
  margin-top: 0.5em;
  margin-bottom: 0 !important;
}

p.header {
  font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.6em !important;
  margin-bottom: 0px;/* Equivalent to 1.5em in the page's base font: 1.5 / 1.5 = 1em */
  padding-bottom: 0.8em;
  border-bottom:1px solid #C0C0C0;

}

/* 

/* Previous and Next */

span#prev, span#next, span#prev-unavailable, span#next-unavailable
{
 font-size: 10px; 
}

span#prev-unavailable, span#next-unavailable {
   text-decoration:none;
   border:1px solid #cacaca;
   padding:0;
   margin-left: 10px;
   width:60px;
   padding-left: 10px;
   padding-right: 10px;
   text-align:center;
   background:#F4FBFC;
   color:#3E3E29 !important;
}

#prev a, #prev a:visited, #next a, #next a:visited {
   text-decoration:none;
   border:1px solid  #cacaca;
   padding:0;
   margin-left: 10px;
   width:60px;
   padding-left: 10px;
   padding-right: 10px;
   text-align:center;
   background:#F4FBFC;
   color: #3F3E29 !important;
   font-weight: bold;
}

#prev a:hover, #next a:hover {
   background:#FFCA9F;
   border:1px solid #aaaaaa;
   color:black !important;
}

.handwriting-table {
  margin-top:0.5em
}

p.why {
  margin-top:1em;
  margin-bottom:1.5em;
  background-color: #F4FBFC;
  padding: 1.5em;
  background:#F4FBFC;
  font-size: 0.9em;
  -moz-box-shadow: 0px 5px 5px #ccc;
  -webkit-box-shadow: 0px 5px 5px #ccc;
  box-shadow: 0px 5px 5px #ccc;
}

span.why {
 font-weight: bold;
 font-style: normal;
 font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
 font-family: Lucida Handwriting, Comic Sans, Comic Sans MS, cursive;
 color:#556292;
}

span.why {
 font-weight: bold;
 font-style: normal;
 font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
 font-family: Lucida Handwriting, Comic Sans, Comic Sans MS, cursive;
 color:#556292;
}

th, .thead, thead {
font-weight: bold;
 padding-top: 0em;
 padding-bottom: 0.4em;
}

